:root {
  color: rgba(255, 255, 255, 0.87);
}

body{
    background-size: cover;
        background-image: url("https://img.freepik.com/vector-gratis/efecto-zoom-fondo-gradiente_23-2149722799.jpg");
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.pokemon-card button {
    background-color: #2aa4f6;
    margin-top: 10em;
    align-items: center;
}